.movieCardContainer {
  min-width: 200px;
  max-width: 200px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
  transition: scale .2s ease-in-out;
  &:hover{
    scale: 1.05;
  }
  p, h4{
    display: none;
  }
}
